.navbar {
  box-sizing: border-box;
  color: $color--grey-3;
  height: 32px;
  line-height: 32px;
  margin: auto;
  padding: $padding--6xl $padding--xs $padding--8xl;
  width: 100%;

  .navbar-container {
    height: 32px;
    line-height: 32px;
    margin: auto;
    position: relative;
  }

  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
  }

  .navbar-left {
    text-align: left;
  }

  .navbar-center {
    text-align: center;
  }

  .navbar-right {
    height: 32px;
    line-height: 32px;
    text-align: right;
  }

  .navbar-info {
    display: inline-block;
    height: 32px;
    line-height: 32px;

    .icon-info {
      margin: 0 $margin--xs;
    }
  }

  .logo {
    font-size: 26px;
    text-transform: uppercase;
  }

  @media screen and (min-width: 800px) {
    padding: $padding--4xl $padding--xs $padding--6xl;
  }
}
