.navtab {
  border-bottom: 1px solid $color--black-10;
  border-top: 1px solid $color--black-10;
  margin-bottom: $margin--6xl;
  width: 100%;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 $margin--md;
    width: auto;
  }

  a {
    color: $color--grey-3;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: $padding--lg 0;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: $color--orange-100;
    }
  }

  @media screen and (min-width: 800px) {
    margin: 0 $margin--xs $margin--lg;
  }
}
