.navtab {
  ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 0;
  }

  li {
    border-bottom: 1px solid $color--boggy;
    border-right: 1px solid $color--boggy;
    border-top: 0;
    box-sizing: border-box;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 33.33%;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-right: 0;
      border-top-right-radius: 5px;
      margin-right: 0;
    }
  }

  a {
    color: $color--boggy;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
  }
}
