.dropbox {
  input {
    border: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;
  }

  label {
    background-clip: content-box;
    background-color: $color--grey-2;
    border: 1px solid $color--grey-4;
    color: $color--white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 222px;
    margin: $margin--md;
    padding: $padding--xs;
    text-align: center;
    vertical-align: top;
    width: 222px;

    &:hover {
      border-color: $color--orange-100;
    }

    p {
      color: $color--white;
      margin-bottom: 0;
    }

    .fa-image {
      font-size: 48px;
    }

    .content-wrapper {
      display: block;
      padding: 68px 0;
    }
  }
}
