.dropbox {
  display: inline-block;
  vertical-align: top;
  width: auto;

  input {
    border: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 0;
  }

  label {
    background-clip: content-box;
    background-color: $color--grey-2;
    border: 1px solid $color--grey-4;
    color: $color--white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 210px;
    margin: $margin--md;
    padding: $padding--xs;
    text-align: center;
    vertical-align: top;
    width: 210px;

    &:hover {
      border-color: $color--orange-100;
    }

    p {
      color: $color--white;
      margin-bottom: 0;
    }

    .fa-image {
      color: $color--white;
      font-size: 48px;
    }

    .content-wrapper {
      display: block;
      padding: 68px 0;
    }
  }

  .image-cell {
    background-clip: content-box;
    background-color: $color--grey-2;
    border: 1px solid $color--grey-4;
    color: $color--white;
    display: inline-block;
    font-size: 15px;
    height: 210px;
    margin: $margin--md;
    padding: $padding--xs;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 210px;

    span {
      display: block;
      font-family: Verdana, Geneva, sans-serif;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      height: auto;
      max-width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
