.new-serie {
  width: 100%;

  .form-serie {
    display: grid;
    grid-column-gap: $gap--xs;
    grid-row-gap: $gap--xs;
    grid-template-columns: repeat(4, 1fr);

    .form-group:nth-child(1),
    .form-group:nth-child(3) {
      grid-column-end: 4;
      grid-column-start: 1;
    }

    .form-group:nth-child(2),
    .form-group:nth-child(4) {
      grid-column-end: 5;
      grid-column-start: 4;
    }

    .dropbox[name='image'] {
      grid-column-end: 1;
      grid-column-start: 3;
      text-align: right;
    }

    .dropbox[name='photo'] {
      grid-column-end: 3;
      grid-column-start: 5;
      text-align: left;
    }

    .dropbox {
      label,
      .image-cell {
        margin: 0;
      }

      label {
        margin-right: $margin--xs;

        @media screen and (max-width: 800px) {
          margin-right: 0;
        }
      }
    }

    .form-group:nth-child(11) {
      grid-column-end: 5;
      grid-column-start: 1;
      position: relative;
    }

    .form-group:nth-child(12) {
      grid-column-end: 5;
      grid-column-start: 1;
      padding-top: $padding--md;
      text-align: left;
    }

    .form-group:nth-child(13) {
      text-align: left;
    }
  }
}
