select {
  background-color: transparent;
  border: 1px solid $color--grey-4;
  box-sizing: border-box;
  color: $color--grey-3;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  outline: none;
  padding: $padding--sm;
  transition: all .3s ease-in-out;
  vertical-align: middle;
  width: 100%;

  &[multiple] {
    height: 112px;
  }

  &:hover {
    border-color: $color--orange-100;
  }
}
