.all-series {
  margin-left: -$margin--xs;

  h1 {
    padding: $padding--lg 0 $padding--lg $padding--xs;
  }

  .pagination-wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 237px 237px 237px;
      margin-left: 0;

      .card {
        img {
          height: 136px;
        }
      }
    }
  }

  @media screen and (max-width: 805px) {
    margin-left: 0;
  }
}
