.card {
  animation: emergence 1s ease 1;
  display: inline-block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0;
  margin: $margin--xs;
  opacity: 1;
  width: 316px;

  img {
    border: 0;
    border-radius: 2px;
    height: 180px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .card-body {
    border: 1px solid $color--grey-4;
    border-top: 0;
    font-size: 0;
    padding: $padding--lg;
    position: relative;

    .card-link {
      box-sizing: border-box;
      color: $color--orange-100;
      font-size: 14px;
      text-decoration: none;
    }

    .card-icon {
      margin-right: $margin--sm;
    }
  }

  .card-header {
    color: $color--grey-1;
    font-size: 20px;
    margin-bottom: $margin--md;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    width: 100%;
  }

  .card-footer {
    color: $color--grey-3;
    font-size: 11px;

    span {
      color: $color--orange-100;
      padding: 0 $padding--xs;
    }

    .fl-right {
      float: right;
    }
  }
}

@keyframes emergence {
  0%   { opacity: 0; }
  20%   { opacity: 0; }
  100%   { opacity: 1; }
}

