.cell {
  display: inline-block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0;
  margin: $margin--xs;
  width: 316px;

  img {
    border: 0;
    border-radius: 2px;
    height: 180px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .cell-body {
    border: 1px solid $color--grey-4;
    border-top: 0;
    font-size: 0;
    padding: $padding--lg;
    position: relative;

    .cell-link {
      box-sizing: border-box;
      color: $color--orange-100;
      font-size: 14px;
      text-decoration: none;
    }

    .cell-icon {
      margin-right: $margin--sm;
    }
  }

  .cell-header {
    color: $color--grey-1;
    font-size: 20px;
    margin-bottom: $margin--md;
    text-transform: capitalize;
  }

  .cell-footer {
    color: $color--grey-3;
    font-size: 11px;

    span {
      color: $color--orange-100;
      padding: 0 $padding--xs;
    }

    .fl-right {
      float: right;
    }
  }
}
