$color--white: #fff;
$color--black: #061014;
$color--black-80: rgba($color--black, .8);
$color--black-60: rgba($color--black, .6);
$color--black-40: rgba($color--black, .4);
$color--black-20: rgba($color--black, .2);
$color--black-10: rgba($color--black, .1);
$color--black-05: rgba($color--black, .5);
