.content {
  background-color: $color--white;
  border: 0;
  border-radius: 5px;
  margin: auto;
  max-width: 978px;
  padding-bottom: 150px;
  position: relative;
  text-align: center;
  width: 100%;
}
