.figurine-detail {
  width: 100%;

  h1 {
    color: $color--grey-2;
    text-transform: capitalize;
  }

  .gallery {
    margin: -$margin--md;
  }

  li {
    display: inline-block;
  }

  .modal {
    background-clip: content-box;
    background-color: $color--grey-2;
    border: 1px solid $color--grey-4;
    display: inline-block;
    height: 210px;
    margin: $margin--md;
    padding: $padding--xs;
    vertical-align: top;
    width: 210px;

    &:hover {
      border-color: $color--orange-100;
    }
  }

  .modal-anchor {
    height: auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
