.footer {
  background-color: $color--white;
  bottom: 0;
  box-sizing: border-box;
  height: 150px;
  left: 50%;
  max-width: 978px;
  padding: $padding--md $padding--xs 0;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
