.footer {
  background-color: $color--white;
  bottom: 0;
  box-sizing: border-box;
  height: 150px;
  left: 50%;
  max-width: 978px;
  padding-top: $padding--md;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;

  @media screen and (max-width: 800px) {
    padding: $padding--md $padding--xs $padding--xs;
  }
}
