.footer {
  background-color: $color--white;
  border: 0;
  border-radius: 5px;
  bottom: 0;
  box-sizing: border-box;
  height: 150px;
  left: 50%;
  max-width: 978px;
  padding-top: $padding--md;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}
