.info {
  display: grid;
  font-size: 0;
  grid-template-columns: 50% 50%;
  margin-top: -$margin--6xl;
  width: 100%;

  .metricsGraphicsCon {
    grid-column-end: 4;
    grid-column-start: 1;
  }

  .general-info,
  .warning-info {
    padding: 0 5px;
  }

  .general-info {
    margin-bottom: $margin--xs;
  }
}

// .col-left,
// .col-right {
//   display: inline-block;
//   vertical-align: top;
//   width: 50%;
// }

// .col-right {
//   * {
//     padding: $padding--xs;
//   }
// }


