$margin--xs: 5px;
$margin--sm: 10px;
$margin--md: 15px;
$margin--lg: 20px;
$margin--xl: 25px;
$margin--2xl: 30px;
$margin--3xl: 35px;
$margin--4xl: 40px;
$margin--5xl: 45px;
$margin--6xl: 50px;
$margin--7xl: 55px;
$margin--8xl: 60px;
