.modal {
  display: inline-block;
  width: auto;

  .modal-shade {
    background-color: $color--grey-1;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0%;
    width: 100vw;
  }

  .modal-content {
    background: $color--white;
    height: 0;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }

  &.show {
    .modal-shade {
      height: 100vh;
      opacity: .75;
      z-index: 998;
    }

    .modal-content {
      height: auto;
      opacity: 1;
      padding: $padding--xs-pct;
      z-index: 998;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  [role='button'] {
    cursor: pointer;
  }

  .modal-close-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 13px;
    top: 10px;
  }

  .modal-close-icon {
    color: $color--grey-3;
    font-size: 24px;
    line-height: 1;
  }

  .modal-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: $margin--2xl;
    text-align: center;
  }

  .modal-body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    line-height: 1.62;
    margin: $margin--sm 0;
    text-align: center;
  }

  .tool-bar {
    grid-column-end: 5;
    grid-column-start: 1;
    height: 0;
    opacity: 0;
    text-align: left;

    &.show {
      height: 29px;
      opacity: 1;
    }

    @media screen and (max-width: 800px) {
      grid-column-end: 4;
      grid-column-start: 1;
    }
  }

  .search {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
