table {
  border-collapse: none;
  width: 100%;

  tr {
    background-color: $color--grey-5;

    &:nth-child(even) {
      background-color: $color--grey-6;
    }

    &:last-child {
      td {
        border-bottom-width: 1px;
      }
    }
  }

  th,
  td {
    border-color: $color--white;
    border-style: solid;
    border-width: 0 1px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.62;
    padding: $padding--xs $padding--sm;

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  th {
    background-color: rgba($color--grey-1, .2);
    border-color: $color--white;
    color: $color--white;
    font-weight: 700;
    letter-spacing: 1px;
    vertical-align: middle;
  }

  td {
    color: $color--grey-3;

    &.text-center {
      text-align: center;
    }
  }
}
