h1 {
  color: $color--black-80;
  font-size: 26px;
  font-weight: 400;
}

h2 {
  color: $color--black;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

p,
.text-normall {
  color: $color--black;
  font-size: 15px;
  font-weight: 400;
}

.light {
  color: $color--black-40;
  font-weight: 300;
}
